@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

body{
    background-color: rgb(24, 22, 22);
    color: white;
}

p{
    line-height: 1.7;
    letter-spacing: 0.05rem;
    padding: 10px;
    font-size: 1.2rem;
}

.hero__universe{
    display: flex;
    justify-content: center;
}

.hero__sun{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
    margin: 100px;
    
}

.hero__sun--pink{
    font-size: 2rem;
    box-shadow: 0 0 15px hotpink, 0 0 20px hotpink, 0 0 40px hotpink, 0 0 55px hotpink;
}

.hero__planet{
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    border-radius: 50%;
    position: absolute;
    
}

.hero__planet--5s{
    transform-origin: 50px 200px;
    animation: rotation 5s linear infinite;
    box-shadow: 0 0 10px rgb(175, 99, 247), 0 0 25px rgb(175, 99, 247), 0 0 45px rgb(175, 99, 247);
}
.hero__planet--15s{
    transform-origin: 50px 200px;
    animation: rotation 15s linear infinite;
    box-shadow: 0 0 10px blue, 0 0 25px blue, 0 0 45px blue;
}
.hero__planet--7s{
    transform-origin: 50px 200px;
    animation: rotation 7s linear infinite;
    box-shadow: 0 0 10px rgb(0, 247, 255), 0 0 25px rgb(0, 247, 255), 0 0 45px rgb(0, 247, 255);
}
.hero__planet--21s{
    transform-origin: 50px 200px;
    animation: rotation 21s linear infinite;
    box-shadow: 0 0 10px rgb(0, 255, 0), 0 0 25px rgb(0, 255, 0), 0 0 45px rgb(0, 255, 0);
}

@keyframes rotation{
    from{
        tranform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}

.hero__cartel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.hero__title{
    text-align: center;
}

.hero__name{
    font-family: 'Castoro', serif;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
}

.hero__h2{
    font-size: 1.9rem;
    text-shadow: 0 0 5px #ff66cc, 0 0 20px #ff66cc, 0 0 30px #ff66cc, 0 0 30px #ff66cc;
    animation: parpadear 1s infinite backwards steps(2);
}

@keyframes parpadear{
    to{
        color: gray;
        text-shadow: none;
    }
}


/* Estilos para el about me  */
.aboutMe__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutMe__information{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.aboutMe__name, .aboutMe__job{
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 0;
}

.aboutMe__description{
    margin: 0;
}

.aboutMe__imgContainer{
    width: 270px;
    height: 330px;
    padding-bottom: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.aboutMe__img{
    width: 87%;
    height: 87%;
    align-items: center;
}

.aboutMe__redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe__icons{
    background-color: white;
    border-radius: 20px;
}

.aboutMe__training{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe__education{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutMe__eduTitle{
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.aboutMe__eduDate{
    margin: 0;
    font-size: 1.1rem;
}

.aboutMe__career{
    margin: 10px 0 0 0;
    border: 1.5px solid white;
}

.aboutMe__skills, .aboutMe__interests{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutMe__skillDiv, .aboutMe__interestDiv{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 70px;
    padding-top: 8px;
    width: 230px;
    border-radius: 20px;
}

.aboutMe__skill{
    width: 64px;
    height: 64px;
}

.aboutMe__interest{
    width: 64px;
    height: 64px;
}

/* Estilos para los proyectos  */


.projects__title{
    font-size: 2.3rem;
    border: 2px solid rgb(177, 172, 172);
    padding-left: 10px;
    border-radius: 15px;
    
}

.projects__name{
    padding-left: 20px;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    background-color: rgb(24, 22, 22);
}

.projects__div{
    width: auto;
    height: auto;
    /* border: 1px solid white; */
}

.projects__divImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projects__cards--size{
    width: 100%;
    height: 100%;
}

.projects__landingImg{
    width: 100%;
    height: 100%;
}


/* Estilos para el form  */

.contact{
    margin: 83px;
}

.contact__title{
    text-align: center;
    font-size: 2.5rem;
}

.title{
    text-align: center;
    margin-top: 50px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.form__input{
    padding: 1em;
    border-radius: 5px;
}

.form__button{
    padding: 0.9em;
    background-color:hotpink;
    border: 0;
    color: black;
    font-size: 1.1rem;
    margin-top: 30px;
    width: 60%;
    align-self: center;
    border-radius: 20px;
}

/* Contenido para tablet SM  */

@media (min-width: 640px){
    main{
        padding: 4%;
    }
    main div{
        padding: 0px 10px;
        margin-bottom: 20px;
    }
}

@media (min-width:769px){
    /* Contenido para tablet MD */
    /* A partir de 769px se aplican estos estilos */


    /* estilos al about me  */
    .aboutMe__information{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;

        grid-template-areas:
                     "imagen descripcion"
                     "imagen descripcion"
                     "redes redes";
    }

    .aboutMe__imgContainer{
        grid-area: imagen;
    }

    .aboutMe__me{
        grid-area: descripcion;
    }

    .aboutMe__redes{
        grid-area: redes;
    }


    /* estilos a mi capacitación  */
    .aboutMe__training{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;

        grid-template-areas:
                     "educacion educacion"
                     "skills interest";
    }

    .aboutMe__education{
        grid-area: educacion;
    }

    .aboutMe__skills{
        grid-area: skills;
    }

    .aboutMe__interests{
        grid-area: interest;
    }

    /* estilos a los proyectos  */

    .projects__divImgGrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr;
        grid-template-areas: 
                    "imagen1 imagen1"
                    "imagen1 imagen1"
                    "imagen2 imagen3";
        justify-items: center;
    }

    .projects__cardsimg--1{
        grid-area: imagen1;
    }

    .projects__cardsimg--2{
        grid-area: imagen2;
    }

    .projects__cardsimg--3{
        grid-area: imagen3;
    }
}

@media (min-width: 1281px){
    .aboutMe__training{
        column-gap: 250px;
        justify-items: center;
    }

    .projects__divImgGrid{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* estilo de float a los iconos  */


    .aboutMe__icon{
        display: inline-block;
        animation: float 5s ease-in-out infinite;
    }

    .aboutMe__icon--twitter{
        animation-delay: 1s;
    }
    .aboutMe__icon--insta{
        animation-delay: 1.5s;
    }
    .aboutMe__icon--link{
        animation-delay: 2s;
    }
    .aboutMe__icon--git{
        animation-delay: 2.5s;
    }

    @keyframes float {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0);
        }
    }

    /* estilo al boton de contacto  */

    .form__button:hover{
        cursor: pointer;
        background-color: #f5b9e0;
        color: rgb(52, 52, 209);
    }
}
